/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    text-align: center;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

ol {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

h3 {
    margin-top: 0;
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
